.product-container{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

.container-page{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}



.page{
    width: 50px;
    background: beige;
    font-size: 20px;
    border: none;
    border-radius: 5px;
    margin: 0 10px;
    color: black;
}

.active{
    background: bisque;
}